<!doctype html>
<html lang='en'>
<head>
	<meta charset='utf-8'>
	<title>Financy</title>
	<meta name='description' content='Stupidest Finance Manager'>
	<meta name=viewport content='width=device-width, initial-scale=1'>
	<link rel="manifest" href="manifest.json">
	<link rel='icon shortcut' href='images/icon.png'>
	<link rel='stylesheet' href='css/bootstrap.min.css'>
	<link rel='stylesheet' href='css/styles.css'>
	<script src='js/angular.min.js'></script>
</head>
<body ng-app="listApp" ng-controller="listController" data-ng-init="init()">
	<div class="overview">
		<div class="container">
			<div class="row">
				<div class="col-xs-8">
					<ul class="accounts">
						<li>Indian <input type="number" class="amount" ng-class="{'active':accEdit}" ng-click="accEdit=true" ng-model="accStore.Indian"></li>
						<li>SBI <input type="number" class="amount" ng-class="{'active':accEdit}" ng-click="accEdit=true" ng-model="accStore.SBI"></li>
						<li>Wallet <input type="number" class="amount" ng-class="{'active':accEdit}" ng-click="accEdit=true" ng-model="accStore.Wallet"></li>
						<li>
							<div ng-show="!accEdit">
								Total <span class="amount">{{(accStore.Indian-0)+(accStore.SBI-0)+(accStore.Wallet-0)}}</span>
							</div>
							<button class="btn btn-sm btn-warning amount" ng-click="saveAccounts()" ng-show="accEdit">Done</button>
						</li>
					</ul>
				</div>
				<div class="col-xs-4">
					<h1>
						<a href="{{jsonDownload}}" download="{{currentDate|date}}{{'.txt'}}"><img src="images/icon.png" alt="" style="max-height:40px;"></a>
						<span>SPENT</span>
						{{ getTotal() }}
					</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<!-- LISTING -->
		<ul id="htmlConsole" class="logList">
			<li ng-repeat="x in jsonStore | orderBy:'date':true track by $index">
				{{x.desc}}<span class="amount">{{x.amount}}</span>
				<div class="gray">{{x.acc}} <span class="tag date">{{x.date | date}}</span> <span class="tag">{{x.cat}}</span></div>
			</li>
		</ul>
		<!-- LISTING -->
		<footer ng-class="{'active':toggle}">
			<button class="toggle" ng-class="{'active':toggle}" type="button" ng-click="toggle=!toggle"><span>&#10095;</span></button>
			<form class="form" ng-submit="saveEntry()">
				<div class="row no-gutter">
					<div class="col-xs-6">
						<input type="text" id="txtEntry" class="form-control" placeholder="Tiny Description" ng-model="addDescription" required>
					</div>
					<div class="col-xs-3">
						<input type="number" id="numAmount" class="form-control" placeholder="Rs."  ng-model="addAmount" required>
					</div>
					<div class="col-xs-3">
						<button class="form-control btn-warning">Add</button>
					</div>
				</div>
				<div class="row no-gutter pt-p5">
					<div class="col-xs-6">
						<select name="sctAccount" id="sctAccount" class="form-control" ng-model="addAccount">
							<option value="Wallet">Wallet</option>
							<option value="Indian">Indian</option>
							<option value="SBI">SBI</option>
						</select>
					</div>
					<div class="col-xs-6">
						<select name="sctCategory" id="sctCategory" class="form-control" ng-model="addCategory">
							<option value="Food">Food</option>
							<option value="Bills & Utilities">Bills &amp; Utilities</option>
							<option value="Clothing">Clothing</option>
							<option value="Electronics">Electronics</option>
							<option value="Family">Family</option>
							<option value="Friends">Friends</option>
							<option value="Health & Beauty">Health &amp; Beauty</option>
							<option value="Leisure">Leisure</option>
							<option value="Transportation">Transportation</option>
						</select>
					</div>
				</div>
				<div class="row no-gutter pt-p5">
					<input type="date" id="addDate" ng-model="currentDate" class="form-control">
				</div>
			</form>
		</footer>
	</div>

	<script src="js/upup.min.js"></script>
	<script>
		UpUp.start({
			'content-url': 'index.html',
			'assets': ['css/bootstrap.min.css', 'css/styles.css', 'js/scripts.js', 'js/localforage.js', 'js/upup.min.js', 'js/angular.min.js']
		});
	</script>
	<script src='js/localforage.js'></script>
	<script src='js/scripts.js'></script>
</body>
</html>
