* {margin:0; padding:0;}
body {font-family:Arial,helvetica,sans-serif; background-color:#eee;}

footer {position:fixed; bottom:-6.25em; left:0; width:100%; background-color:#6eb832; padding:1em; transition:.5s;}
footer.loan {bottom:-3em;}
footer.active {bottom:0;}

.row.no-gutter {margin-left: 0; margin-right: 0; }
.row.no-gutter [class*='col-']:not(:first-child), .row.no-gutter [class*='col-']:not(:last-child) {padding-right: 0; padding-left: 0; }

.logList, .accounts {list-style:none; }
.logList {margin-bottom:7.5em;}
.logList li {background-color:#fff; padding:.5em; margin:1em 0;}
.logList li .amount, .accounts li .amount {float:right; color:#6eb832;}
.logList li .gray {color:#888; font-size:.8em; margin-top:.25em; padding-top:.5em; border-top:1px solid #eee;}
.logList li .tag {float:right; color: #2196F3; background-color: #2196f333; padding: .1em .75em; border-radius: 1em;}
input.amount {width:50%; background:none; border:0; text-align:right;}
input.amount.active {background:#fff;}
.logList.loan li .tag {float:none; width:65%; display:inline-block; text-align:center; background:none;}

.header {background-color:#53921f;}
.header h3 {font-size:1.25em; display:inline-block; vertical-align:middle; margin:0; font-weight:bold; color:#fff;}
.menu-toggle, .menu-close {border:0; background:none; padding:1em; display:inline-block; vertical-align: middle; }
.menu-toggle .bun {width:1.25em; height:0.15em; background-color:rgba(255,255,255,1); display:block; margin:.25em; }
.menu-close { font-family:verdana, monospace; background-color:#f0ad4e; width:100%; padding:.95em; color:#fff;}

.side-menu {height:100vh; width:20em; background-color:rgba(255,255,255,0.9); position:fixed; top:0; left:0; z-index:2; transition:.5s;}
.side-menu a {padding:1em; display:block;}
.side-menu a:hover, .side-menu a:visited {text-decoration:none; background-color:#fff;}
.side-menu i {font-style:normal; padding:1em;}

.ng-hide:not(.ng-hide-animate) {
	display: block!important;
	position: absolute;
	left: -100%;
}

.overview {background-color:#6eb832; color:#fff; font-size:1em;}
.accounts li {margin-top:.5em;}
.accounts li .amount {color:#000;}
.overview h1 {text-align:center; margin-top:.75em; font-size:1.75em;}
.overview h1 span {font-size:.5em; display:block; color:#326d03; letter-spacing:2px; margin-top:.25em;}

.toggle {background:none; border:0; position:absolute; width:100%; top:-2em; font-size:1.25em; left:0;}
.toggle span {display:inline-block; transform:rotate(-90deg); transition:.5s;}
.toggle.active span {transform:rotate(90deg);}

.p-p5-0 {padding:.5em 0;}
.pt-p5 {padding-top:.5em;}